#En el index de applies
<table>

    <thead>
        <th>id</th>
        <th>Título</th>
        <th>Nombre del solicitante</th>
        <th>Solicitud</th>
        <th>Edad</th>
    </thead>
    <tbody>
        <% @applies.each do |a| %>
        <tr>
            <td><%= a.id %></td>
            <td><%= a.title %></td>
            <td><%= a.name %></td>
            <td><%= a.body %></td>
            <td><%= a.edad %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<div>
    <h1>Datos del modelo: </h1>
    <p><%= @applies.inspect %></p>
</div>
